p{
color: rgb(116, 116, 116);
}

body{
    background-color: rgb(205, 152, 255);
}
main{
    background-color: azure;
    width: 300px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.473);
}